* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
     box-sizing: border-box;
}
@font-face {
	font-family: RobotoRegular;
	src: url(../Fonts/RobotoRegular.woff);
}
@font-face {
	font-family: RobotoMedium;
	src: url(../Fonts/RobotoMedium.woff);
}
@font-face {
	font-family: RobotoBold;
	src: url(../Fonts/RobotoBold.woff);
}
body {
	background-color: #fff;
	overflow: hidden;
}
img {
	width: 100%;
}

.Wrapper {
	height: 100%;
	min-height: 100%;
	width: 100vw;
	text-align: center;
}

#background-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 2px;
	bottom: 0;
	z-index: -1;
}
.Content {
	margin: 0 auto;
	display: block;
	position: relative;
	top: 50vh;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100vw;
	min-width: 300px;
	height: 100vh;
	max-height: 100vh;
	min-height: 540px;
}

.FontRegular{
	font-family: RobotoRegular;
	color: white;
	text-align: left;
	font-size:2vh;
}

.FontBold{
	font-family: RobotoBold;
	color: white;
	text-align: left;
	font-size:2.6vh;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.2);
	border-radius: 100px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.4);
	border-radius: 100px;
  }


/* Registro */

.ContenedorTituloRegistro{
	width:78%;
	margin: 0 auto;
}

input, .Desplegable {
	border: 0 solid white;
	background-color: #fff;
	border-radius: 15px;
	padding-left: 5vh;    
	padding-right: 2vh;   
	height:5.5vh;
	width: 80%;
	filter: drop-shadow(0px 0px 3px #999);
}
::placeholder, 
input[type="text"],
input[type="email"],
select {
	color: #AAAAAA;
	font-family: RobotoRegular;
	font-size: 1.7vh;
}

.icon {
	padding: 1.6vh 12px;
    width: 3.4vh;
}

i {
	position: absolute;
    left: 12vw;
}

.BotonRojo {
	font-family: RobotoRegular;
	font-size: 1.7vh;
	padding: 1.2vh 15px;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	background-image: linear-gradient(#E45050 0%, #C72929 100%);
	color: #fff;
	width: 40%;
	
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	display: inline-block;
	border-radius: 100px;
	z-index:99;
}

.BotonRanking{
	position: absolute;
	bottom: 3vh;
	right:3vh;
	width:6vh;
	height:6vh;
}


.BotonRojoInstrucciones {
	font-family: RobotoRegular;
	font-size: 1.7vh;
	padding: 1.2vh 5px;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	background-image: linear-gradient(#E45050 0%, #C72929 100%);
	color: #fff;
	width: 40%;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	display: inline-block;
	border-radius: 100px;
	z-index:99;
}


/* Preguntas */

.FondoPregunta{
	z-index: -999;
	width:100vw;
	height:100vh;
	position:absolute;
	top:0;
	left:0;
	background: #FCFCFC;
		
}

.ColumnaLogo{
	width:50%;
	padding: 3vh;
}

.ContainerTiempo{
	position: absolute;
	right: 5vw;
	top: 3vh;
	background-color: rgba(0,0,0,0.5);
	padding: 0.8vh 1.6vh;
	font-family: RobotoRegular;
	color: white;
	border-radius: 50vh;
	display: flex;
    align-items: center;

}

.IconoTiempo{
	width:2.5vh;
	padding-right:1vh;
}

.TiempoJuego{
position:relative;
margin-top:2px;
font-size: 2.5vh;
}

.SeccionPreguntas{
background: rgb(198,40,40);
background: linear-gradient(90deg, rgba(198,40,40,1) 0%, rgba(229,81,81,1) 100%);
}

.ContenedorPreguntas{
height: 15vh;
display:flex;
align-items: center;
text-align: center;
background-color: #fff;
border-radius: 1vh;
width:80vw;
margin:0 auto;
padding: 5vh 8vw;
}
.TarjetaPosterior{
	height: 1.5vh;
background-color: rgba(255,255,255,0.5);
border-radius: 0 0 1vh 1vh;
width:70vw;
margin:0 auto;

}
.EstiloPregunta{
	font-size: 2vh;
	font-family: RobotoRegular;
	color:#000;
}

.SeccionRespuestas{
	top:-7vh;
	position: relative;
}

.EstiloRespuestas{
	background-color: #fff;
	width:70%;
	margin: 0 auto;
	color: #000;
	filter: drop-shadow(0px 0px 3px #999);
	border-radius: 15px;
	display:block;
	padding:2vh;
	text-align: center;
	font-family: RobotoMedium;
	font-size: 2.5vh;


}

.RespuestaIncorrecta{
border:#7800C8 solid 0.3vh;
}

.RespuestaIncorrecta::after {
	content: url('../Images/Incorrecto.png');
	
	position: absolute;
	right:2vh;
}

.RespuestaCorrecta{
	border:#219F7E solid 0.3vh;
	}

	.RespuestaCorrecta::after {
		content: url('../Images/Correcto.png');
		
		position: absolute;
		right:2vh;
	}

.BotonCambiarPregunta{
	font-family: RobotoRegular;
	font-size: 1.7vh;
	padding: 1.2vh 5px;
	text-align: center;
	transition: 0.5s;
	background-color: transparent;
	color: #AAAAAA;
	width: 48vw;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	display: flex;
	margin: 0 auto;
	align-items: center;
	border-radius: 100px;
	z-index:99;
	border: 0.2vh solid #AAAAAA;
	justify-content: center;
}

.IconoBoton{
	width: 4vw;
	margin-right: 1vw;
}

/* Resultados */
.LogoResultados{
	width:60%;
}

.ContenedorResultados{
	background-color: white;
	border-radius: 20px;
	width: 70%;
	margin: 0 auto;
	filter: drop-shadow(0px 0px 3px #999);
	padding:5%;
}

.JuegoFinalizado{
	color:#818182;
	font-family: RobotoRegular;
	font-size: 3vh;

}

.TuPuntaje{
	color:#000;
	font-family: RobotoMedium;
	font-size: 3.7vh;

}

.PuntajeResultados{
	color:#EA002A;
}

.DatosJuego{
	color:#000;
	font-family: RobotoRegular;
	font-size: 2.5vh;
}

.PuntajeRespuestas{
color: #7800C8;
font-family: RobotoMedium;
}

.PuntajeTiempo{
	font-family: RobotoMedium;
color: #219F7E;
}

.InstruccionQR{
	color: #818182;
	font-family: RobotoRegular;
	font-size: 1.8vh;
}

.CodigoQR{
	width:40%;
}

.BotonIrARanking{
display: flex;
align-items: center;
margin: 0 auto;
justify-content: center;
}
  
  

/* Ranking */

.FondoRanking{
	z-index: -999;
	width:100vw;
	height:100vh;
	position:absolute;
	top:0;
	left:0;
	background: rgb(198,40,40);
	background: linear-gradient(90deg, rgba(198,40,40,1) 0%, rgba(229,81,81,1) 100%);
	
}

.ContainerRanking{
	position: absolute;
	right: 5%;
	top: 3%;
	
	padding: 5px 10px;
	font-size:3vh;
	font-family: RobotoMedium;
	color: white;
	
	
}
.ContenedorPuntajes{
height: 47vh;
width:90%;
margin: 0 auto;
overflow: scroll;
overflow-x: hidden;
}
.EstiloPuntaje{
 background-color: #fff;
 padding: 2vh 3vw;
 color: #000;
 display: flex;
 width: 90%;
 margin: 0 auto;
 border-radius: 15px;
 font-size: 2vh;
 font-family: RobotoMedium;
 margin-bottom: 1.5vh;
}
.EstiloPuntaje:first-of-type{
	color:#E80029 !important;
}
.PosicionJugadorRanking{
	width:14%;
	text-align: left;
}

 .NombreJugadorRanking{
	width:66%;
	text-align: left;
}

 .PuntajeJugadorRanking{
	width:20%;
	text-align: right;
}

.BotonIrAInicio{
font-family: RobotoRegular;
	font-size: 1.7vh;
	padding: 1.2vh 5px;
	text-align: center;
	transition: 0.5s;
	background-color: transparent;
	color: #fff;
	width: 28vw;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	display: flex;
	margin: 0 auto;
	align-items: center;
	border-radius: 100px;
	z-index:99;
	border: 0.2vh solid #fff;
	justify-content: center;
}